<div class='flex justify-center'>
    <form id='announcement-form' class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
        hx-encoding="multipart/form-data" hx-post='/admin/announcements/add' hx-swap='innerHTML'
        onsubmit='submitForm(event)'>
        <div class="mb-4">
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                type='file' name='image'>
        </div>
        <div class="mb-4">
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                type='text' name='title' placeholder='Title'>
        </div>
        <input type='hidden' name='date' id='date'>
        <div class="mb-4">
            <textarea
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id='editor'></textarea>
        </div>
        <input type='hidden' name='content' id='contentHtml'>
        <input type='hidden' name='author' id='author'>
        <div class="flex items-center justify-between">
            <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type='submit'>Submit</button>
            <button
                class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                hx-get='/admin/dashboard' hx-swap='outerHTML' hx-target='#dashboard-container'>Cancel</button>
        </div>
    </form>
</div>

<div class='flex justify-center mt-8'>
    <div id="message" class="hidden">
        <div class="p-4 mb-4 bg-green-500 rounded-lg shadow-sm shadow-green-800" role="alert">
            <p class="text-3xl text-gray-900">Duyuru Başarıyla Eklendi</p>
        </div>
    </div>
</div>

<script>
    // var editor = new Jodit('#editor', {
    //     "uploader": {
    //         "insertImageAsBase64URI": true
    //     },
    //     "language": "tr",
    //     toolbarAdaptive: false,
    //     toolbarSticky: false,
    //     toolbar: true,
    //     height: 500,
    //     minHeight: 400,
    //     width: 1000,
    //     defaultMode: Jodit.MODE_WYSIWYG,
    // });

    var buttons = Jodit.defaultOptions.buttons.slice();

    var addBorderButton = {
        name: 'addBorder',
        icon: 'table',
        exec: function (editor) {
            var current = editor.selection.current();
            if (current) {
                var table = current.closest('table');
                if (table) {
                    table.style.border = '1px solid black';
                    var cells = table.querySelectorAll('td, th');
                    for (var i = 0; i < cells.length; i++) {
                        cells[i].style.border = '1px solid black';
                    }
                }
            }
        },
        tooltip: 'Add border to table'
    };

    var increaseBorderButton = {
        name: 'increaseBorder',
        icon: 'plus',
        exec: function (editor) {
            var current = editor.selection.current();
            if (current) {
                var table = current.closest('table');
                if (table) {
                    var currentBorderWidth = parseInt(table.style.border.split(' ')[0]);
                    table.style.border = (currentBorderWidth + 1) + 'px solid black';
                    var cells = table.querySelectorAll('td, th');
                    for (var i = 0; i < cells.length; i++) {
                        cells[i].style.border = (currentBorderWidth + 1) + 'px solid black';
                    }
                }
            }
        },
        tooltip: 'Increase border size'
    };

    var decreaseBorderButton = {
        name: '-',
        icon: '-',
        exec: function (editor) {
            var current = editor.selection.current();
            if (current) {
                var table = current.closest('table');
                if (table) {
                    var currentBorderWidth = parseInt(table.style.border.split(' ')[0]);
                    if (currentBorderWidth > 1) {
                        table.style.border = (currentBorderWidth - 1) + 'px solid black';
                        var cells = table.querySelectorAll('td, th');
                        for (var i = 0; i < cells.length; i++) {
                            cells[i].style.border = (currentBorderWidth - 1) + 'px solid black';
                        }
                    }
                }
            }
        },
        tooltip: 'Decrease border size'
    };

    buttons.splice(10, 0, addBorderButton, increaseBorderButton, decreaseBorderButton);

    var editor = new Jodit('#editor', {
        "uploader": {
            "insertImageAsBase64URI": true
        },
        "language": "tr",
        toolbarAdaptive: false,
        toolbarSticky: false,
        toolbar: true,
        height: 500,
        minHeight: 400,
        width: 1000,
        defaultMode: Jodit.MODE_WYSIWYG,
        buttons: buttons
    });

    function submitForm(event) {
        var htmlContent = editor.value;
        document.getElementById('contentHtml').value = htmlContent;

        var imageInput = document.querySelector("input[name='image']");
        var image = imageInput.files[0];
        var title = document.querySelector("input[name='title']").value;
        var date = "";
        var author = "";

        // if (!image || !title || !date || !author || !htmlContent) {
        //     alert('Bütün alanları doldurun');
        //     event.preventDefault();
        //     return;
        // }
    }

    document.getElementById('announcement-form').addEventListener('htmx:afterSwap', function () {
        document.getElementById('announcement-form').remove();
        document.getElementById('message').classList.remove('hidden');
    });
</script>